/.pytest_cache
/file_module
/functions_attemopts
/gitlab tasks.py
/iteration_attempt.py
/modules_tutorial
/oop_tutorials
/python _classes_objects
/python_testing
/trying_stuff.py
/vicoria_github_questions.py